<div class="question">
    
    <div class="col-md-12 content">
      <%= link_to question.title, question %>
      <% question.tag_list.each do |t| %>
        <tag><%= t %></tag>
      <% end %>
    </div>
    
    <div class="question_status">
      <i class="fa fa-thumbs-up fa-2x" aria-label="voted_for" aria-hidden="true"></i>
	&nbsp;
      <b><%= question.get_upvotes.size - question.get_downvotes.size %></b>
	&nbsp;&nbsp;&nbsp;
      <i class="fa fa-comments fa-2x" aria-label="answers" aria-hidden="true"></i>
      &nbsp;
      <b><%= question.answers.count %></b>
    </div>
    
</div>
