<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-md-1">
	<%= message.user.name %>
      </div>
      <div class="col-md-11">
	<p class="card-text">
	  <span class="text-muted"> at <%= message.timestamp %> says</span><br>
	  <%= message.content %>
	</p>
      </div>
    </div>
  </div>
  </div>
