<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Unlock-n-ROR, <%= @user.name %></h1>
    <p>
      Answer is arrived for <%= @question.title %>.<br>
    </p>
    <p>
      To Check for that, just follow this link: <%= @url %>.
    </p>
  </body>
</html>
