@import "bootstrap-sprockets";
@import "bootstrap";
@import "questions";

@mixin box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

/* header */
#logo {
  float: left;
  display: flex;
  align-items: center;
  font-size: 2em;
  height: 2em;
}

.container {
  .dropdown {
    display: inline;
  }
}

/* body */
body {
  padding-top: 60px;
}

hr {
  width: 100%;
  border: 1px solid #DDD;
  margin-top: 2px;
  margin-bottom: 2px;

  display: block;
}

form {
  width: 80%;
  margin: auto;
}

textarea,
input[name="question[content]"],
input[name="question[title]"],
input[name="question[tag_list]"] {
  width: 100%;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;

  border-top: 1px solid #eaeaea;

  a {
    padding-right: 10px;
  }

  .category, #copyright {
    padding-top: 5px;
    text-align: center;
    span {
      margin-top: 10px;
    }
  }
  li {
    text-align: left;
    display: block;
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;;
}


/* messages */
#messages {
  max-height: 450px;
  overflow-y: auto;
}
