// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {

    line-height: 40px;
    z-index: 0;
    
    .content {
	z-index: 5;
    }
    
    tag {
	display: inline;
	font-size: 0.5em;
	background-color: #000;
	color: #fff;
	border-radius: 2px;
	
	margin-left: 2px;
	margin-right: 2px;
    }


    .question_status {
	text-align: right;
	margin-left: auto;

	z-index: 10;
    }
    
}
