.question {
  color: #333;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  .question_status {
    float: left;
    padding-left: 10px;
    color: #333;
    display: inline;
    overflow: hidden;
    .thumb-btn {
      display: block;
      margin-right: 20px;
      color: #333;
    }
  }
  .content {
    z-index: 5;
  }
  .info {
    display: inline;
    a {
      color: #333;
    }
  }
}
